<launch>

  <node pkg="elastic_bridge" type="elastic_node" name="elastic_node" output="screen" >
    <param name="AUTOSTART" type="bool" value="true" />
    <param name="TOPIC_IMAGE_COLOR" type="string" value="/zedm/zed_node/right/image_rect_color" />
    <param name="TOPIC_IMAGE_DEPTH" type="string" value="/zedm/zed_node/depth/depth_registered" />
    <param name="TOPIC_CAMERA_INFO" type="string" value="/zedm/zed_node/right/camera_info" />
    <param name="PERIODIC_WORLD_PUBLICATION" type="int" value="10" />
    <param name="WORLD_FRAME" type="string" value="first_frame" />
    <param name="CAMERA_FRAME" type="string" value="zedm_right_camera_optical_frame" />
  </node>

</launch>

